body {
  background-color: #FFF;
  font-family: verdana;
  color: #000;
}

#wrap {
  width: 700px;
  margin: 0 auto;
}

h1, #action, #pick {
  font-size: 15px;
  font-family: ratio-1, ratio-2, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 10px 0 20px 0;
}

h1 b {
  font-size: 24px;
}


#text {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 40px;
  display: none;
}

#text a {
  text-decoration: none;
  color: #000;
}

#text a:hover {
  background-color: #E87979;
  border-radius: 2px;
}

#action {
  margin: 20px 0 40px 0;
  display: none;
}

#action span#sourcelang {
  color: #090;
  border-bottom: 1px dashed #090;
  cursor: pointer;
}

#action div#button {
  float: right;
}

#pick {

}

#pick textarea#input {
  margin: 20px 40px;
  width: 600px;
  height: 400px;
  background-color: #FAFAFA;
  font-family: verdana;
}

#pop {
  display: none;

  font-family: verdana;
  font-size: 14px;
  position: absolute;
  text-align: center;

  background-color:#EEE;
  border:2px solid #666666;

  padding: 2px 8px 4px 8px;
  text-align:center;
  border-radius: 8px;
  -moz-box-shadow:0 0 5px #888888;
  -webkit-box-shadow:0 0 5px #888888;
}

#pop .popab {
  border-color: #666666 transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  bottom:-14px;
  left: 30px;
}

#pop .popa {
  border-color: #EDEDED transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  bottom:-11px;
  left:30px;
}

.button {
  background-color: #EEE;
  padding: 2px 20px;
  border-radius: 4px;
  border: 1px solid #AAA;
  cursor: pointer;
}