body > * {
  z-index: -1000;
}

#tuntext {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.9);
}

#tuntext_content {
  padding: 40px;
  margin: 60px auto;
  width: 700px;
  min-height: 100px;
  background-color: #FAFAFA;
  border: 1px solid #CCC;
}

#tuntext_content a {
  line-height: 1.5em;
  font-family: verdana;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

#tuntext_content p {
  height: auto;
  min-height: 1.5em;
}

#tuntext_content a:hover,
#tuntext_content a.selected {
  background-color: #E87979;
  border-radius: 2px;
}

#tuntext_pop {
  display: none;

  font-family: verdana;
  font-size: 14px;
  position: absolute;
  text-align: center;

  background-color:#EEE;
  border:2px solid #666666;
  max-width: 500px;

  padding: 2px 8px 4px 8px;
  text-align:center;
  border-radius: 8px;
  -moz-box-shadow:0 0 5px #888888;
  -webkit-box-shadow:0 0 5px #888888;
}

#tuntext_pop .tuntext_popab {
  border-color: #666666 transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  bottom:-14px;
  left: 30px;
}

#tuntext_pop .tuntext_popa {
  border-color: #EDEDED transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  bottom:-11px;
  left:30px;
}
