body {
  background-color: #FFF;
  font-family: verdana;
  color: #000;
}

#wrap {
  width: 700px;
  margin: 0 auto;
}

h1, #action {
  font-size: 15px;
  font-family: ratio-1, ratio-2, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 10px 0 20px 0;
}

h1 b {
  font-size: 24px;
}


#text {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 40px;
}

#text a {
  text-decoration: none;
  color: #000;
}

#text a:hover {
  background-color: #E87979;
  border-radius: 2px;
}

#action {
  margin: 20px 0 40px 0;
}

#action span#sourcelang {
  color: #090;
  border-bottom: 1px dashed #090;
  cursor: pointer;
}

#action div#button {
  float: right;
  
}