#tuntext {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 16000;
  background-color: rgba(0,0,0,0.95);
}

#tuntext_bar {
  margin: 6px 0;
  text-align: center;
}

#tuntext_bar h1,
#tuntext_bar .gBrandingText {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: ratio-1, ratio-2, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Verdana, sans-serif; 
  color: #CCC;
  font-weight: normal;
  line-height: 20px;
}

#tuntext_bar .gBrandingText {
  color: #777;
}

#tuntext_bar .gBranding {
  display: inline;
  margin-left: 5px;
}

#tuntext_bar h1 a {
  text-decoration: none;
  font-size: 18px;
  font-family: ratio-1, ratio-2, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 20px;
  font-weight: normal;
  color: #FFF;
}

#tuntext_bar_lang {
  color: #DDD;
}

#tuntext_bar_lang select {
  border-radius: 5px;
}

#tuntext_content {
  padding: 40px;
  margin: 60px auto;
  width: 700px;
  min-height: 100px;
  background-color: #FAFAFA;
  border: 1px solid #CCC;
  border-radius: 5px;
}

#tuntext_content a {
  line-height: 1.5em;
  font-family: verdana;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

#tuntext_content p {
  height: auto;
  min-height: 1.5em;
}

#tuntext_content a:hover,
#tuntext_content a.selected {
  background-color: #E87979;
  border-radius: 2px;
}

#tuntext_pop {
  display: none;

  font-family: verdana;
  font-size: 14px;
  position: absolute;
  text-align: center;

  background-color:#EEE;
  border:2px solid #666666;
  max-width: 500px;

  padding: 2px 8px 4px 8px;
  text-align:center;
  border-radius: 8px;
  -moz-box-shadow:0 0 5px #888888;
  -webkit-box-shadow:0 0 5px #888888;
}

#tuntext_pop .tuntext_popab {
  border-color: #666666 transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  bottom:-14px;
  left: 30px;
}

#tuntext_pop .tuntext_popa {
  border-color: #EDEDED transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  bottom:-11px;
  left:30px;
}
